.pageTitle {
    -fx-font-family: "Verdana";
    -fx-font-size: 32px;
    -fx-label-padding: 50 0 20 0;
    -fx-underline: false;
}
.plainText {
    -fx-font-family: "Verdana";
    -fx-font-size: 15px;
}
.receiptText {
    -fx-font-family: "Consolas";
    -fx-font-size: 14px;
}
.inputField {
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
}
.viewPane {
    -fx-padding: 0 0 40 0;
    -fx-background-color: #E6F4FB;
}

.centeredColumn {
    -fx-alignment: center;
}

.button {
    -fx-font-family: "Verdana";
    -fx-font-size: 13px;
}
.buttonHighlight {
    -fx-background-color: #E6F4FB;
}
.customTable .table-row-cell:empty {
    -fx-opacity: 0;
}
.customList .list-cell:empty {
    -fx-opacity: 0;
}
.list-cell:filled:selected {
    -fx-background-color: linear-gradient(#65ADFD 0%, #429DEF 100%);
}

#toolbar {
    -fx-background-color: #8CC6E2;
}

.homeGridCell {
    -fx-border-color: #666666;
    -fx-border-radius: 10px;
    -fx-border-width: 3px;
    -fx-padding: 7px;
    -fx-background-color: #E6F4FB;
    -fx-background-insets: 3px;
}
#historyDetailedViewSumLabel {
    -fx-font-size: 24px;
}
#checkoutOverviewListTotalLabel {
    -fx-font-weight: bold;
}